{% extends "bootstrap_layout.html" %}
{% set active_page = "weather_form" %}


{% block content %}

    <h2>Nat-Bot's Weather Form</h2>

    <p>Request an hourly forecast for your zip code! By default, we have US and 20057.</p>

    <img src="https://s3-eu-west-1.amazonaws.com/uploads.playbaamboozle.com/uploads/images/67032/1597541431_42856" class="img-fluid" alt="Image of partly cloudy sky">

    <form action="/weather/forecast" method="POST">

        <label>Country Code:</label>
        <input type="text" name="country_code" placeholder="US" value="US">
        <br>
        <br>

        <label>Zip Code:</label>
        <input type="text" name="zip_code" placeholder="20057" value="20057">
        <br>
        <br>

        <button>Submit</button>
  
    </form>

{% endblock %}